@import "tailwindcss";

:root {
    --color-background: #FBFCFE;
    --color-surface: #FFFFFF;
    --color-primary: #5959F6;
    --color-primary-light: #7776FD;
    
    --color-text-primary: #191C2E;
    --color-text-secondary: #77797f;
    
    --color-border: #bcbcbc;
    --color-hover: #e9e9e961;

    --color-success: #2AB788;
    --color-warning: #FDAF3A;
    --color-danger: #E21E40;
    --color-info: #2C79F4;

    --color-danger-soft: #FEE6EA;
    --color-success-soft: #F3FAF8;
    --color-primary-soft: #F1F0FF;
    --color-warning-soft: #fbf0de;
    --color-info-soft: #d5e3f9;
    --color-card: #F3F3FE;
}

@font-face {
    font-family: "Yekan";
    src: url('/src/assets/fonts/Yekan.woff2');
}

body {
    font-family: "Yekan", sans-serif;
    background: var(--color-background);
    color: var(--color-text-primary);
}
